@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color:#03a84e;
    --secondary-color:#656565;
    --background-color:#f4f7f7;
    --footer-text-color:#d8dadf;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    font-size: 14px;;
}
body{
    
}
.header{
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
#animation-image{
    position: absolute;
    top: 60%;
    width: 140px;
    left: 0px;
    animation: move-up-down 3s ease-in-out infinite;
}
  @keyframes move-up-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(0);
    }
  }
.hero-section{
    position: relative;
    /* height: 80vh; */
    padding-bottom:  180px;
    background-image: url('./images/background.webp');
    background-position: center top;
    background-position-y:0px;
    background-size: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo-container{
    width: 140px;
}
#website-logo{
    width: 100%;
    /* height: 100%; */
}
#nav-list{
    /* border: 1px solid var(--primary-color); */
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.nav-item{
    list-style-type: none;
}
.nav-item a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s;
    /* cursor: pointer; */
}
.nav-item a:hover{
    color: green !important;
    /* font-weight: 550; */
}
.button-container{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;   
    /* padding: 10px; */
}
/***************************side nav bar css************************ */
.nav-logo-container img{
    margin-bottom: 5px;
    filter:invert(10%);
}
.side-nav-bar{
    display: none;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    /* width: 0px; */
    width: 50vw !important;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    z-index:100 ;
    margin-left: -2800px;
    padding: 20px 15px;
    transition: margin-left 0.6s;
}
.close-icon {
    text-align: center;
    font-size: 35px !important;
}
.header-side-nav-bar{
    padding:0px;
    display: flex;
}

.side-menu ul li {
    list-style-type:none;
    cursor: pointer;
}

.side-menu ul li a:hover{
    color: var(--primary-color);
}
.side-menu ul li a{
    /* border: 1px dotted green; */
    text-decoration: none;
    font-size: 14px ;
    font-weight: 500;
    color: var(--secondary-color);
}
.side-menu ul hr{
    margin-left: -30px;
}
.side-menu ul li{
    margin-left: -20px;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    #registraion-btn{
        padding: 10px 24px !important;
    }
  }
  
  #registraion-btn{
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 3px;
    transition: background-color 0.3s;
}
#menu-btn{
    float: right !important;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 3px;
}
.hidden{
    display: none;
}
#registraion-btn:hover{
    background-color: #038f42;
}
/************************* mobile responsive ******************/
@media screen and (max-width:776px) {
     .newsletter-text{
        font-size: 24px !important;
        text-align: center !important;
    }
    #newsletter-form button[type="submit"]{
        padding:15px 24px !important ;
    }
    #newsletter-form input[type="email"]{
        padding: 20px 15px !important;
    }
    .section{
        padding: 60px 0px !important;
    }
    .topmargin-mobile{
        margin-top: 20px !important;
    }
    #registraion-btn{
        padding: 10px 15px !important ;
    }
    #animation-image{
        z-index: -1;
    }
    .apply-now-btn{
         padding: 5px 10px !important;
    }
}


/* Hero section css star */
.hero-heading {
    font-weight: 700;
    font-size: 42px ;
    color: white;
}
.paragraph-text{
    font-size: 14px;
}
#hero-section-form input,#hero-section-form select{
    width: 100%;
    height: 100%;
    padding: 18px;
    /* font-family: 'arial'; */
    font-size: 14px;
    border-radius: 5px;
    color: #656565;
    border: transparent;
    outline: none;
    cursor: pointer;
}

#hero-section-form input:focus,#hero-section-form select:focus{
    outline: 2px solid var(--primary-color);
}
#search-btn{
    width: 90%;
    font-size: 14px;
    padding: 18px;
    color: white;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 5px;
    float: right;
    /* margin-left: -10px; */
}
.actual-hero-section{
    padding-top:150px ;
}


/*************************tablet resposive *************************/
@media screen and (max-width:992px){
    .section{
        padding: 80px 0px !important;
    }
    .actual-hero-section{
        padding-top:80px ;
    }
    .hero-section{
        position: relative;
        /* height: 80vh; */
        padding-bottom: 100px;
    }
    #search-btn{
        width: 100% !important;
    }
    .topmargin-tab-mobile{
        margin-top: 20px !important;
    }
    .nav-bar{
        display: none;
    }
    .hidden{
        display: block;
    }
    .step-of-working img{
        display: none;
    }
   
}
/******************************** Popular job section ************************/
.section{
    padding: 100px 0px;
}
.section-heading{
    font-weight: bold;
}
.section-description{
    color: #656565;
    font-size:14px ;
}
.popular-job-item{
    display: block;
    padding: 20px 40px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: #282b34;
    cursor: pointer;
    border-radius: 3px;
    background-color: var(--background-color);
    transition: background-color 0.2s, color 0.4s;
}
.popular-job-item:hover{
    background-color: var(--primary-color);
    color: white;
}
/******************************** recent job section ************************/
.recent-jobs{
    background-color: var(--background-color);
}
.recent-job-item{
    margin-top: 20px;
    background: white;
    width: 100%;
    padding:40px 35px;
    border-radius: 4px;
    transition: box-shadow 0.3s;
}
.recent-job-item:hover{
    box-shadow: 0px 0px 60px 1px #d8d8d8a2;
}
.company-info{
    display: flex;
    justify-content: start;
    align-items: center;
}
.cname{
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.cname:hover{
    color: var(--primary-color);
}
.caddress{
    color:#656565 ;
}
.clogo-container{
    width: 60px;
}
.clogo{
    width: 100%;
}
.job a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    transition: color 0.3s;
}
.job a:hover {
    color: var(--primary-color);
}
.job-time{
    color: var(--primary-color);
    font-weight: 600;
}
.required-skill{
    color: var(--secondary-color);
    font-size: 14px;
}
.salary-and-button{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.salary{
    font-weight: 700;
    font-size: 16px;
}
.apply-now-btn{
    text-decoration: none;
    border: 1px solid var(--primary-color);
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 15px;
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.4s,color 0.5s;
}
.apply-now-btn:hover{
    background-color: white;
    color: var(--primary-color);
}
/******************************** How it Works section ************************/
.step-of-working{
    position: relative;
    /* border: 2px solid; */
    padding: 20px;
    cursor: pointer;
}
.step-of-working:hover .step-icon{
    border-color: var(--primary-color);
}
.step-of-working:hover .right-arrow-img {
    filter: none !important;
    opacity: 1 !important;
}
.step-of-working:hover .step-icon i{
    background: var(--primary-color);
    color: white;
}
.step-of-working .right-arrow-img{
    position: absolute;
    right: -29px;
    top: 50px;
    /* color: var(--background-color); */
    font-size: 24px ;
    filter:grayscale(80%);
    opacity: 0.3;
    transition: opacity 0.4s;

}
.step-icon{
    /* font-size: 30px !important; */
    margin-left: auto;
    margin-right: auto;
    width: 80px ;
    border: 2px dashed var(--background-color);
    border-radius: 3px;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border 0.4s;
}
.step-icon i{
    /* border: 1px solid black; */
    
    font-size: 28px;
    padding: 15px;
    border-radius: 3px;
    color: var(--primary-color);
    background-color: var(--background-color);
    transition: background-color 0.4s,color 0.5s;
}

.step-title{
    font-size: 18px;
    font-weight: 600;
}
.step-description{
    color: var(--secondary-color);
}

/******************************** Footer section ************************/
footer{
    /* border: 1px solid black; */
    /* padding-top: 100px !important; */
}
.newsletter{
    padding: 50px 0px;
    background-color: var(--primary-color);
}
.newsletter-text{
    font-size: 34px;
    font-weight: 700;
    line-height: 150%;
    /* text-align: center; */
}
  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  #newsletter-form input[type="email"] {
    padding: 25px;
    border: none;
    border-radius: 4px;
    width: 100%;
    outline: none;
  }
  #newsletter-form button[type="submit"] {
    position: absolute;
    right: 5px;
    background-color:#272a33;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 20px 50px;
    cursor: pointer;
  }
  .footer{
    background-color: #272a33;
    padding-top: 100px;
    padding-bottom: 10px;
    
  }
  .footer-company-info{
    margin-top: -20px !important;
  }
  .footer-logo-container{
    width: 180px;
  }
  
#footer-logo{
    width: 100%;
}
.footer-text{
    color: var(--footer-text-color) !important;
    line-height:25px;
}
.footer-social-icons{
    display: flex;
    align-items: center;
    justify-content: start;
}
.footer-social-icons a{
    text-decoration: none;
    color: var(--footer-text-color);
    width: 35px;
    height: 35px;
    margin-right: 10px;
    /* padding: 10px !important; */
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--footer-text-color);
    /* cursor: pointer; */
    transition: border-color 0.4s,background-color 0.4s;
}
.footer-social-icons a:hover{
    border-color: var(--primary-color);
    color:var(--footer-text-color);
    background-color: var(--primary-color);
}
.footer-list{
    margin-top: -8px !important;
    list-style-type: none;
    /* padding-top: 25px; */
    margin-bottom: 8px;
}
.footer-list a {
    text-decoration: none;
    color: var(--footer-text-color);
    transition: color 0.4s;
}
.footer-list a:hover{
    color: var(--primary-color);
}
.footer-list li{
    margin-bottom: 15px;
    margin-left: -26px !important;
}

/* =============Footer DropDown==========*/
