@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap');
:root{
    --primary-color:#03a84e;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}
.header{
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
#animation-image{
    position: absolute;
    top: 60%;
    width: 140px;
    left: 0px;
    animation: move-up-down 3s ease-in-out infinite;
}
  @keyframes move-up-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(0);
    }
  }
.hero-section{
    position: relative;
    /* height: 80vh; */
    padding-bottom:  180px;
    background-image: url('./background.webp');
    background-position: center top;
    background-position-y:0px;
    background-size: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo-container{
    width: 140px;
}
#website-logo{
    width: 100%;
    /* height: 100%; */
}
#nav-list{
    /* border: 1px solid var(--primary-color); */
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.nav-item{
    list-style-type: none;
}
.nav-item a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s;
    /* cursor: pointer; */
}
.nav-item a:hover{
    color: green !important;
    /* font-weight: 550; */
}
.button-container{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;   
    /* padding: 10px; */
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    #registraion-btn{
        padding: 10px 24px !important;
    }
  }
  
  #registraion-btn{

    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 3px;
    transition: background-color 0.3s;
}
#menu-btn{
    float: right !important;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 3px;
}
.hidden{
    display: none;
}
#registraion-btn:hover{
    background-color: #038f42;
}
@media screen and (max-width:776px) {
    .topmargin-mobile{
        margin-top: 20px !important;
    }
    #registraion-btn{
        padding: 10px 15px !important ;
    }
    #animation-image{
        z-index: -1;
    }
}

/* Hero section css star */
.hero-heading {
    font-weight: 700;
    font-size: 42px ;
    color: white;
}
.paragraph-text{
    font-size: 14px;
}
#hero-section-form input,#hero-section-form select{
    
    width: 100%;
    height: 100%;
    padding: 18px;
    /* font-family: 'arial'; */
    font-size: 14px;
    border-radius: 5px;
    color: #656565;
    border: transparent;
    outline: none;
    cursor: pointer;
}
#hero-section-form input:focus,#hero-section-form select:focus{
    outline: 2px solid var(--primary-color);
}
.decrease-left-margin{
    /* margin-left: -10px !important; */
}
.decrease-right-margin{
    margin-right: -10px !important;
}
#search-btn{
    width: 90%;
    font-size: 14px;
    padding: 18px;
    color: white;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 5px;
    float: right;
    /* margin-left: -10px; */
}
.actual-hero-section{
    padding-top:150px ;
}
@media screen and (max-width:992px){
    .actual-hero-section{
        padding-top:80px ;
    }
    .hero-section{
        position: relative;
        /* height: 80vh; */
        padding-bottom: 100px;
    }
    #search-btn{
        width: 100% !important;
    }
    .topmargin-tab-mobile{
        margin-top: 20px !important;
    }
    .nav-bar{
        display: none;
    }
    .hidden{
        display: block;
    }
   
}